body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: whitesmoke;
    color: #111111;
}

h1 {
    text-align: center;
}

ul, ol {
    padding: 5px;
    margin: 5px;
    min-width: 500px;
    width: 50%;
    margin: 0 auto;
}
ul > li, ol > li {
    padding: 6px;
}
ul > li:nth-of-type(odd), ol > li:nth-of-type(odd) {
    background-color: #e9e9f9 ;
}

.instructions-container {
    min-width: 500px;
    width: 50%;
    margin: 0 auto;
}